@model HTTTQLDanSo.Models.AccountViewModel
@{
    ViewBag.Title = "Home Page";
}
<br />
<br />
<br />
<div class="row">
    <div class="col-1">
    </div>
    <div class="col-2">
        <img src="~/Images/DanSoKeHoachHoaGiaDinh.png" />
    </div>
    <div class="col-9"> 
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-10">
                                <h1 class="text-md-center" style="font-family:'Times New Roman'">BỘ Y TẾ</h1>
                            </div>
                        </div>
                        <div class="col-2">

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-10">
                                <h1 class="text-md-center" style="font-family:'Times New Roman'">TỔNG CỤC DÂN SỐ - KẾ HOẠCH HÓA GIA ĐÌNH</h1>
                            </div>
                        </div>
                        <div class="col-2">

                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-12">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label" for="tinh" style="font-family:'Times New Roman'">Tỉnh (Thành phố trực thuộc Trung ương):</label>
                            <div class="col-sm-6" style="font-family:'Times New Roman'">  @Model.ProvinName</div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label" for="tinh" style="font-family:'Times New Roman'">Huyện (Quận, Thị xã, Thành phố thuộc tỉnh):</label>
                            <div class="col-sm-6" style="font-family:'Times New Roman'">  @Model.DistrictName</div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label" for="tinh" style="font-family:'Times New Roman'">Xã (Phường, Thị trấn):</label>
                            <div class="col-sm-6" style="font-family:'Times New Roman'"> @Model.RegionName</div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label" style="font-family:'Times New Roman'" for="tinh">Thôn (Ấp, Bản, Làng, Tổ dân phố):</label>
                            <div class="col-sm-6" style="font-family:'Times New Roman'"> @Model.Full_Address</div>
                        </div>
                    </div>
                </div>
            </div> 
        </div>
    </div>
</div>
<br />
<br /> 
<div class="row">
    <div class="col-12">
        <h1 class="text-md-center" style="font-family:'Times New Roman'">
            SỔ GHI CHÉP BAN ĐẦU VỀ DÂN SỐ (SỔ A0)
        </h1>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <h3 class="text-md-center" style="font-family:'Times New Roman'">
            (Ban hành kèm theo Thông tư số 01/2022/TT-BYT ngày 10 tháng  1 năm 2022  của Bộ trưởng Bộ Y tế)
        </h3>
    </div>
</div>

<div class="row">
    <div class="col-1">
    </div>
    <div class="col-2">

    </div>
    <div class="col-9">
        <div class="form-group row">
            <label class="col-sm-3 col-form-label" for="tinh" style="font-family:'Times New Roman'">Họ và tên cộng tác viên:</label>
            <div class="col-sm-6" style="font-family:'Times New Roman'">  @Model.FullName</div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-1">
    </div>
    <div class="col-2">

    </div>
    <div class="col-9">
        <div class="form-group row">
            <label class="col-sm-12 col-form-label" for="tinh" style="font-family:'Times New Roman'">Địa bàn số: ....................................................... Từ hộ số: ....................................................... đến hộ số: ....................................................... </label>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-1">
    </div>
    <div class="col-2">

    </div>
    <div class="col-9">
        <div class="form-group row">
            <label class="col-sm-3 col-form-label" for="tinh" style="font-family:'Times New Roman'">Địa chỉ chi tiết:</label>
            <div class="col-sm-6" style="font-family:'Times New Roman'">  @Model.Full_Address</div>
        </div>
    </div>
</div>