@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@{
    int pageSize = 20;
    if (int.TryParse(System.Configuration.ConfigurationManager.AppSettings["pageSize"], out int size))
    {
        pageSize = size;
    };
}

@model PagedList.IPagedList<HTTTQLDanSo.Models.AccountViewModel>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Accounts";
}

<h2>Students</h2>

<p>
    @Html.ActionLink("Tạo mới account", "Create")
</p>
@using (Html.BeginForm("Index", "ManagerAccount", FormMethod.Get))
{
    <p>
        Find by name: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Search" />
    </p>
}
<table class="table">
    <tr>
        <th>
            STT
        </th>
        <th>
            @Html.ActionLink("Tên đầy đu", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            Số điện thoại
        </th>
        <th>
            Xã phường
        </th>
        <th>
            Địa bàn
        </th>
        <th>
            Quyền
        </th>
        <th></th>
    </tr>
    @{
        var counter = 0;
        var currentPage = Model.PageNumber;
    }

    @foreach (var item in Model)
    {
        counter++;
        <tr>
            <td>
                @(((currentPage - 1) * pageSize) + counter)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RegionName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WorkName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AllRoles)
            </td>
            <td>
                @Html.ActionLink("Edit", "Detail", new { id = item.Id }) |
                <button onclick="deleteUser('@item.Id')">Delete</button>
            </td>
        </tr>
    }
</table>
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))

<script>
    function deleteUser(userId) {
        $.ajax({
            url: '/ManagerAccount/Delete/',
            type: 'Get', datatype: 'json',
            data: { userId: userId },
            success: function (result) {
                // Handle the success result, e.g., update UI or perform additional actions
                window.location.reload(); // Example: reload the page
            },
            error: function (xhr, status, error) {
                // Handle the error, e.g., display an error message
                console.error('Failed to delete user:', error);
            }
        });
    }


</script>